@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SigInManager
@inject UserManager<ApplicationUser> UserManager
@inject LanguageService lang

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SpaceTravelVoucher.Main.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://www.space-travel.ru/media/img/logo_rebrand.svg" height="50" title="Space Travel" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                               @lang.GetKey("language") 
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en">English</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="ru">Русский</a></li>

                            </ul>
                        </li>
                        @{
                            if (User.IsInRole("Admin"))
                            {
                                /*<li class="nav-item mr-3 ml-3">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                                </li>*/
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            @lang.GetKey("tables")
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Index">@lang.GetKey("users")</a></li>
                                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Index">@lang.GetKey("protocols")</a></li>

                                        </ul>
                                    </li>
                            }
                            if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                            {
                                /*<li class="nav-item mr-3 ml-3">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                                </li>*/
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            @lang.GetKey("registries")
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="" asp-action="">@lang.GetKey("tour_agent")</a></li>
                                            <li><a class="dropdown-item" asp-controller="" asp-action="">@lang.GetKey("partners")</a></li>
                                            <li><a class="dropdown-item" asp-controller="Manager" asp-action="ListVoucher">@lang.GetKey("vouchers")</a></li>
                                        </ul>
                                    </li>
                            }
                        }
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AuthSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>