@using SpaceTravelVoucher.Main.ViewModels
@model IEnumerable<ShortVoucherViewModel>
@inject LanguageService lang

<h1>@lang.GetKey("list")</h1>

<hr />
<p>
    <a class="nav-link" asp-action="CreateVoucher" asp-controller="Manager">
        @lang.GetKey("create_voucher")
    </a>
</p>
<hr />
<form method="post">
    <div class="row">
        <div class="col-8">
            <div class="form-floating mb-3">
                <input class="form-control" name="number" autocomplete="number" aria-required="true" placeholder="Номер путевки"/>
                <label>Номер путевки</label>
            </div>
        </div>
        <div class="col-4">
             <button type="submit" class="w-100 btn btn-lg btn-primary" asp-action="DetailsVoucher" asp-controller="Manager">Найти</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="EditVoucher" asp-route-number="@item.Number">@lang.GetKey("edit")</a> |
                    <a asp-action="DetailsVoucher" asp-route-number="@item.Number">@lang.GetKey("details")</a> |
                    <a asp-action="" asp-route-id="@item.Number">@lang.GetKey("delete")</a>
                </td>
            </tr>
        }
    </tbody>
</table>